:root{
	--base-factor: 1.55;
}
*{
	margin: 0;	padding: 0;	
	background: inherit;
	box-sizing: border-box;
}
BODY {
	font-family: "HelveticaNeue-Condensed", "HelveticaNeueCondensed", "Helvetica Neue Condensed", "HelveticaNeue", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosCnBold', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial","sans-serif";
	font-stretch: extra-condensed;
    font-size: 9pt;
    color: black;
    background: lightgreen;
	max-width: 8.5in;
}
.page{
	padding: 0.5in;
	height: 11in;
	width: 8.5in;
	background: #fff;
	position: relative;
}
.box{
	position: relative;
	border-radius: 10px;
	border: 3px solid #000;
	overflow: hidden;
	padding-bottom: 2.5mm;
	padding-bottom: 2.5mm;
}
h3{	text-align: center;	}
hr{	border: 2px solid #000;	}
table{	width: 100%;	}
td{
	height: 16px;
	vertical-align: bottom;
}

.line-title:after{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 4px 3px 0;
	background: inherit;
}
.blank{
	border-bottom: 1px solid #000;
	position: relative;
	text-align: center;
}
.small-font{	font-size: 8pt;	}

.logo{
	display: inline-block;
	text-align: center;
	position: relative;
	#border: 1px dashed green;	/*	This is for visualizing the border during setup / debugging	*/
	background: none;
}
.logo h1{
	margin: 0 0 3px 0;
	font: 800 calc(4em * var(--base-factor))/0.75 Helvetica, Haettenschweiler, Sans-serif;	/*	-style -variant -weight -size/line-height -family	*/
	/*	"Arial Black", Haettenschweiler, Impact, 	*/
	font-stretch: condensed;
	position: relative;
	z-index: 2;
}
.logo > h4{
	margin: 0;
	font: 900 calc(2em * var(--base-factor)) Helvetica;
	line-height: 0.6;
	color: white;
	-webkit-text-stroke: 1.1px black;
	transform: scale(1, 0.75);
	position: relative;
	z-index: 2;
}
.logo > h5{
	margin: 0;
	line-height: 1;
	font: 100 calc(1.1em * var(--base-factor))/0.9 Arial;
	font-stretch: condensed;
	letter-spacing: .19em;
	position: relative;
	z-index: 2;
}
.hexagon{
	position: relative;
	background: #aaa;
	position: absolute;
	top: 19%;
	bottom: 19%;
	left: calc(50% - var(--border-EW) * var(--base-factor));
	right: calc(50% - var(--border-EW) * var(--base-factor));
	
	--border-EW: 2.9em;
	--border-NS: 1.5em;
}
.hexagon:before{
	content: "";
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-left: calc(var(--border-EW) * var(--base-factor)) solid transparent;
	border-right: calc(var(--border-EW) * var(--base-factor)) solid transparent;
	border-bottom: calc(var(--border-NS) * var(--base-factor)) solid #aaa;
}
.hexagon:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-left: calc(var(--border-EW) * var(--base-factor)) solid transparent;
	border-right: calc(var(--border-EW) * var(--base-factor)) solid transparent;
	border-top: calc(var(--border-NS) * var(--base-factor)) solid  #aaa;
}

/*			*****************		Page 1		******************			*/

header{
	height: 11.5%;
}
#title-block{
	float: left;
	width: 63%;
	font-size: 13pt;
	margin-right: 65px;
}

header:after{
	content: '';
	display: block;
	clear: both;
}
ul{	list-style: none;	}
ul li{
	line-height: 32px;
	height: 0.25in;
	padding-left: 150px;	
}
#title-block li{
	text-align: left;
}

#char-name:after{	content: "Character Name";	font-weight: bold;	}
#aliases:after{		content: "Alternate Identities";	}
#player-name:after{	content: "Player Name";	}

#p1-tables{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-content: space-between;
	height: 88.5%;
}
.p1c1{	width: 34.7%;	}
.p1c2{	width: 30.2%;	}
.p1c3{	width: 31.4%;	}

#characteristics{	}
#characteristics table{
	border-spacing: 3.6mm 2px;
	padding: 0 10px 0 0;
}
#attacks-mans{	height: 113.6mm;	}
#attacks-table{	border-spacing: 1mm 2px;	}

#attacks-table td:nth-child(2),
#attacks-table td:nth-child(3),
#attacks-table td:nth-child(4){	text-align: center;}

#attacks-table th:first-child,
#attacks-table th:last-child,
#attacks-table td:first-child,
#attacks-table td:last-child{
	text-align: left;
}

#status th{ text-align: left;	}
#status table{ border-spacing: 4mm 2px;	}

#vitals table{	padding: 0 2.5mm;	}
#vitals td{	position: relative;	}
#vitals-t2 td{	width: 50%	}
#vitals-t2 td:after{
	position: absolute;
	left: 0;
	bottom: -3px;
	padding-bottom: 3px;
	background: inherit;
}
#vital-lift{	padding-left: 8px;}
#vital-lift:after{	content: "Lift";	}
#str-end-cost{	padding-left: 65px;	}
#str-end-cost:after{	content: "STR END Cost";	}
#vital-ocv{	padding-left: 45px;	}
#vital-ocv:after{
	content: "Base OCV";
	font-weight: bold;
}
#vital-dcv{	padding-left: 50px;	}
#vital-dcv:after{
	content: "Base DCV";
	font-weight: bold;
}
#vital-omcv{	padding-left: 45px;	}
#vital-omcv:after{
	content: "Base OMCV";
	font-weight: bold;
}
#vital-dmcv{	padding-left: 50px;	}
#vital-dmcv:after{
	content: "Base DMCV";
	font-weight: bold;
}


#HTH td:first-child,
#pre-attack td:first-child{ 
	text-align: left;
}
#combat-skills{
	margin: 0 2.8mm;
	position: relative;
	line-height: 5.3mm;
}
#combat-skills li{
	border-bottom: 1px solid #000;
}
#combat-skills:after{
	position: absolute;
	top: 8px;
	left: 0;
	content: "Combat Skill Levels";
	padding-bottom: 3px;
	background: inherit;
	font-weight: bold;
}
#defenses{	border-spacing: 1.6mm 2px;	}
#defenses th{	text-align: left;	}

#sense-table{
	padding: 0 3mm;
	border-spacing: 0 2px;
}

#expts{
	padding: 0 10px;
	border-spacing: 2px 2px;
	#height: 13%;
}
#expts .blank{	padding-right: 6px;	}
#expts td:first-child{	text-align: left;	}
#expts td:last-child{	text-align: right;	}

#hit-location{	height: 39%;	}
#hit-location table{	padding: 0 5px;	}
#hit-table td{	text-align: center;	}
#hit-table th:nth-child(2),#hit-table td:nth-child(2){	text-align: left;	}
#hit-location p{	padding: 0 5px;	}

#range-mods{	text-align: center;	}
#targeting{	padding: 0 5px;	}
#targeting td:nth-child(2), #targeting td:last-child{	text-align: center;	}
#targeting th:first-child{	text-align: left;	}
#combat-mods > p{	text-align: center;	}
#movement{	#height: 24.8%;	}
#move-table{
	border-spacing: 1.7mm 2px;
	padding: 0 1mm;
}
#move-table th{	text-align: left;	}

#move-table td:first-child{	text-align: left;	}

/*	********************************** 			Page 2			******************	*/

#page2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto;
	grid-gap: 3.3mm 3.8mm;
	grid-auto-columns: 33%;
}
.logo-holder{
	grid-row: 1/2;
	grid-column: 2/3;
	text-align: center;
}

.data-table{
	z-index: 2;
	background: none;
	position: absolute;
	top: 38px;
	font-size: 8pt;
	line-height: 18px;
	border-spacing: 3mm 1px;
}
.data-table td{	border: none;	}

#character-info{
	grid-row: 1/2;
	grid-column: 1/2;
	background: red;
}
#character-info td{	width: 50%;	}
#character-info table{	padding: 0 8px;	}
#character-info td:after{
	font-weight: bold;
	position: absolute;
	left: 0;
	bottom: -3px;
	padding: 0 3px 3px 0;
	background: inherit;
}
#char-name-2{
	padding-left: 75px;
	text-align: left;
}
#char-name-2:after{
	content: "Charcter Name";

}
#height{	padding-left: 50px;	}
#height:after{	content: "Height [m]";	}
#weight{	padding-left: 60px;	}
#weight:after{	content: "Weight [kg]";	}
#hair-color{	padding-left: 50px;	}
#hair-color:after{	content: "Hair Color";	}
#eye-color{	padding-left: 50px;	}
#eye-color:after{	content: "Eye Color";	}

#div23{
	grid-row: 1/2;
	grid-column: 3/4;
	background: skyblue;
	text-align: left;
}
#div23 ul{	margin: 0 10px;	}

#div23 li{
	line-height: 20px;
	height: 20px;
	text-align: left;
}

#cam-name{	padding-left: 82px;	}
#cam-name:after{content: "Campaign Name";	}
#genre{		padding-left: 36px;	}
#genre:after{	content: "Genre";	}
#GM{		padding-left: 64px;	}
#GM:after{		content: "Gamemaster";	}

#skills-perks-talents{
	grid-row: 2/4;
	background: teal;
}
#s-p-t-table td:first-child,
#s-p-t-table td:nth-child(3){
	text-align: center;
}
#s-p-t-table th:nth-child(2){	text-align: left;	}
#s-p-t-table{	border-spacing: 2.5mm 2px;	}
#s-p-t-table td{
	border-bottom: 1px solid #000;
}
#powers-equipment{
	grid-column: 2/4;
	background: #953;
}
#powers-equipment table{
	border-spacing: 1.9mm 2px;
}
#powers-equipment td{
	border-bottom: 1px solid #000;
}
#complications{
	grid-column: 2/4;
	background: #195;
}
#complications table{
	border-spacing: 2.5mm 2px;
}
#complications td{
	border-bottom: 1px solid #000;
}
.noline{
	border: none;
}

br.c4 {page-break-after: always;}